<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @enquiry.first_name %>,</p>
    <p>Thanks for reaching out to us, we'll be in touch soon.</p>
    <p>Regards,</p>
    <p>Dev Haus X Team</p>
  </body>
</html>
