 <div class="container row">
    <h4>About Us</h4><hr>
    <div class="row">
      <div class="twelve columns">
        <p>Dev House X is a software development house providing small to medium customers (SMEs) a clear and definite path to reach their technology goals.</p>
        <p>Whether you are a startup launching a new idea or an existing business upgrading your services we make the journey simple, transparent and as enjoyable as possible.</p>
      </div>
    </div>

    <div class="row peoplePics">
      <div class="six columns feature">
        <div class="pop">
          <img src="/assets/raman.jpg"></a>
          <div class="hidden">
            <p>Raman has a career spanning education, executive recruitment and technology in a wide variety of industries including hospitality, security and IT. He lives between Australia and the USA and is passionate about opening and expanding the access to technology education world-wide.</p>
          </div>
        </div>
        <h5>Raman Nambiar</h5>
        <h6> Managing Director </h6>
      </div>

      <div class="six columns feature">
        <div class="pop">
          <img src="/assets/pete.jpg"></a>
          <div class="hidden">
            <p>Pete is passionate about technology and encouraging the community to be involved in creating their future. After a career at IBM, Pete now lives to teach coding and share his love of tech.</p>
          </div>
        </div>
        <h5>Peter Argent</h5>
        <h6> Academic Director </h6>
      </div>
    </div>
  </div>