<div class="container row center">
  <div class="ghost">
    <h3>Some of our clients</h3>
    <div class="row clientPanel">
      <div class="six columns center-align">
        <div class="image-wrapper">
          <h5 class="clientIcon"><a href="http://www.coderfactoryacademy.com" target="_blank"><img src="/assets/CoderFactoryLogo.png" class="image-logo"></a></h5>
        </div>
        <div class="image-wrapper">
        	<h5 class="clientIcon"><a href="http://www.mosh.us" target="_blank"><img src="/assets/mosh_logo.png" class="image-logo"></a></h5>
        </div>
      </div>
      <div class="six columns center-align">
        <div class="image-wrapper">
          <h5 class="clientIcon"><a href="http://www.utrex.surge.sh" target="_blank" style="text-decoration: none; color:#FFF" class="image-logo"><img src="/assets/utrex.png" class="image-logo"></a></a></h5>
        </div>
        <div class="image-wrapper">
          <h5 class="clientIcon"><a href="https://mighty-peak-8243.herokuapp.com" target="_blank" style="text-decoration: none;; color:#FFF" class="image-logo"><img src="/assets/kaleidoscope.png" class="image-logo center"></a></h5>
        </div>
      </div>
    </div>
  </div>
</div>