<div class="white">
    <div class="container row">
      <h4>Your <span class="bold">Dev Haus X</span> journey</h4><hr>
      <div class="row">

        <table>
          <tr>
            <td>Basic Chat</td>
            <td>Chat about your goals. Are we the right fit?</td>
          </tr>
          <tr>
            <td>Planning</td>
            <td>Let us draft up a simple plan to meet your needs. Does this look like what you had in mind?</td>
          </tr>
          <tr>
            <td>Refinement</td>
            <td>Let's make sure the plans are 100% right.</td>
          </tr>
          <tr>
            <td>Price &amp Timeframe</td>
            <td>Let's agree on terms.</td>
          </tr>
          <tr>
            <td>Jump in</td>
            <td>Meet and kick off.</td>
          </tr>
          <tr>
            <td>Progress Reporting</td>
            <td>100% transparency.</td>
          </tr>
          <tr>
            <td>Demo</td>
            <td>Everything looks on track.</td>
          </tr>
          <tr>
            <td>Feedback Loop</td>
            <td>Keep on developing.</td>
          </tr>
          <tr>
            <td>Final Release</td>
            <td>All looking good.</td>
          </tr>
          <tr>
            <td>Launch Stage</td>
            <td>Smiles all round.</td>
          </tr>

        </table>

      </div>
    </div>
  </div>