<div class="white">
    <div class="container row">
      <h4>Our Sevices</h4><hr>
      <div class="row hide-on-small-only">
        <div class="col s6">
          <h5>Support</h5><br>
          <div class="row">
            <div class="col s3">
              <div class="icon"><i class="fa fa-life-ring"></i></div>
            </div>
            <div class="col s9">
              <p>Long term or short project-based support.</p>
            </div>
          </div>

          <h5>Web Development</h5><br>
          <div class="row">
            <div class="col s3">
              <div class="icon"><i class="fa fa-desktop"></i></div>
            </div>
            <div class="col s9">
              <p>New builds or site upgrades including E-commerce, CMS etc.</p>
            </div>
          </div>
        </div>

        <div class="col s6">
          <h5>Mobile Apps</h5><br>
          <div class="row">
            <div class="col s3">
              <div class="icon"><i class="fa fa-mobile fa-lg"></i></div>
            </div>
            <div class="col s9">
              <p>IOS, Android.</p>
            </div>
          </div>

          <h5>Solution Building</h5><br>
          <div class="row">
            <div class="col s3">
              <div class="icon"><i class="fa fa-sitemap"></i></div>
            </div>
            <div class="col s9">
              <p>Full end-to-end project execution, from idea to application and project engineering.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- MOBILE VERSION -->
      <div class="row hide-on-med-and-up">
        <div class="col s6">
          <h5>Support</h5><br>
          <div class="row flow-text">
            <div class="col s6">
              <div class="icon"><i class="fa fa-life-ring"></i></div>
            </div>
            <div class="col s6">
              <p>Long term or short project-based support.</p>
            </div>
          </div>

          <h5>Web Development</h5><br>
          <div class="row flow-text">
            <div class="col s6">
              <div class="icon"><i class="fa fa-desktop"></i></div>
            </div>
            <br>
            <div class="col s6">
              <p>New builds or site upgrades including E-commerce, CMS etc.</p>
            </div>
          </div>
        </div>

        <div class="col s6">
          <h5>Mobile Apps</h5><br>
          <div class="row flow-text">
            <div class="col s6">
              <div class="icon"><i class="fa fa-mobile fa-lg"></i></div>
            </div>
            <div class="col s6">
              <p>IOS, Android.</p>
            </div>
          </div>

          <h5>Solution Building</h5><br>
          <div class="row flow-text">
            <div class="col s6">
              <div class="icon"><i class="fa fa-sitemap"></i></div>
            </div>
            <div class="col s6">
              <p>Full end-to-end project execution, from idea to application and project engineering.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>