<div class="white">
    <div class="container row hide-on-small-only">
      <h4>Our Services</h4><hr>
      <div class="row">
        <div class="six columns">
          <h5>Support</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-life-ring"></i></div>
            </div>
            <div class="nine columns">
              <p>Long term or short project-based support.</p>
            </div>
          </div>

          <h5>Web Development</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-desktop"></i></div>
            </div>
            <div class="nine columns">
              <p>New builds or site upgrades including E-commerce, CMS etc.</p>
            </div>
          </div>
        </div>

        <div class="six columns">
          <h5>Mobile Apps</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-mobile fa-lg"></i></div>
            </div>
            <div class="nine columns">
              <p>IOS, Android.</p>
            </div>
          </div>

          <h5>Solution Building</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-sitemap"></i></div>
            </div>
            <div class="nine columns">
              <p>Full end-to-end project execution, from idea to application and project engineering.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container row  center hide-on-med-and-up">
      <h4>Our Sevices</h4><hr>
      <div class="row">
        <div class="six columns">
          <h5>Support</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-life-ring"></i></div>
            </div>
            <div class="nine columns">
              <p>Long term or short project-based support.</p>
            </div>
          </div>

          <h5>Web Development</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-desktop"></i></div>
            </div>
            <div class="nine columns">
              <p>New builds or site upgrades including E-commerce, CMS etc.</p>
            </div>
          </div>
        </div>

        <div class="six columns">
          <h5>Mobile Apps</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-mobile fa-lg"></i></div>
            </div>
            <div class="nine columns">
              <p>IOS, Android.</p>
            </div>
          </div>

          <h5>Solution Building</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-sitemap"></i></div>
            </div>
            <div class="nine columns">
              <p>Full end-to-end project execution, from idea to application and project engineering.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>