 <section class="resourceSec" id="menu7">
    <div class="white">
      <div class="container row">
        <h3>Resources</h3>

        <div class="row">
          <p>Click the links below to access our various document templates.</p>
        </div>

        <div class="row resources">
          <div class="four columns feature">
            <div class="pop">
              <img src="/assets/sampleAgreement.jpg"></a>
              <div class="hidden">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <a href="/assets/sampleAgreement.pdf" target="_blank"><h6>Sample Agreement</h6></a>
          </div>

          <div class="four columns feature">
            <div class="pop">
              <img src="/assets/sampleSpecSheet.jpg"></a>
              <div class="hidden">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <a href="/assets/sampleSpecSheet.pdf" target="_blank"><h6>Sample Specification Sheet</h6></a>
          </div>

          <div class="four columns feature">
            <div class="pop">
              <img src="/assets/sampleQuestions.jpg"></a>
              <div class="hidden">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <a href="/assets/sampleQuestions.pdf" target="_blank"><h6>Sample Questions</h6></a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <div class="breakPage"></div>
